.p-menubar {
  background: #df5a28 !important;
  border: none !important;
  justify-content: space-between;
}
.p-menubar ul {
  margin-right: 20px;
}
.tittle-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.tittle-menu a {
  text-decoration: none;
  color: white;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  background: #df5a28 !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text {
  color: white !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover {
  background: rgba(40, 29, 78, 0.9599999785423279) !important;
}

/* .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
   background: black !important; 
} */

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: #b33e10 !important;
  border-radius: 7px;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-icon {
  color: #ffa300 !important;
}
