.home-style {
  height: 98vh;
  background: url(../../assets/images/chair.png);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-body {
  display: flex;
  flex-direction: column;
}

.home-body .p-button.p-button-rounded {
  background: #ac3038;
  color: white;
  border: 1px solid #ac3038;
  font-size: 30px;
  height: 65px;
  width: 400px;
}

.home-body .p-button.p-button-rounded:hover {
  background: #df5a28;
  border: 1px solid #df5a28;
}
.home-body .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-top: 10%;
  margin-left: 20%;
}
.home-body .presentation .text-Presentation {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
}

.schedule-table {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  /*  height: 801px;
  overflow-y: scroll; */
}

.schedule-table p {
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.schedule-table .p-datatable .p-datatable-thead > tr > th {
  color: #df5a28;
  background: black;
  border: 1px solid #df5a28;
  border-width: 0 1px 1px 0;
  text-align: center !important;
}

.schedule-table .p-datatable .p-datatable-tbody > tr > td {
  border-width: 0 1px 1px 0;
  text-align: center;
  font-weight: 600;
}

.schedule-table .text-left {
  text-align: left !important;
}

.schedule-table .p-datatable .p-datatable-scrollable-header {
  background: black;
}

.schedule-table .export-btn {
  display: flex;
  justify-content: right;
  margin-right: 2px;
  margin-bottom: 1px;
}

.schedule-table .export-btn .p-button {
  background: green;
  border-color: green;
}

.schedule-table .export-btn .p-button:hover {
  background: green;
  border-color: green;
}

.calendar-format .p-button {
  background: #df5a28;
  border-color: #df5a28;
}

.calendar-format .p-button:enabled:hover {
  background: #df5a28;
  border-color: #df5a28;
}

@media screen and (min-width: 1366px) and (max-width: 1500px) {
  .home-body .presentation .text-Presentation {
    font-size: 18px;
  }

  .home-body .presentation {
    margin-top: 10%;
    margin-left: 18%;
    max-width: 890px;
  }

  .home-body .p-button.p-button-rounded {
    font-size: 25px;
    height: 65px;
    width: 350px;
  }
}
